* {
    margin: 0;
    padding: 0;
}



/* CSS Font Stack */
body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.divider {
    margin: 5em;
    border: 1pt solid rgb(100, 100, 100);;
}

.bold {
    font-weight: bolder;
}

.green {
    color: green;
}

.italic {
    font-style: italic;
}

.small-caps {
    font-size: .8em;
}



/* HEADER | HERO */
header {
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(82, 179, 79, 1) 51%, rgba(60, 255, 0, 1) 100%);
    color: white;
    min-height: 7em;
    padding: 0 2em;
    display: flex;
    align-items: center;
    gap: 2em;
}

header img {
    height: 6em;
    width: 3em;

}

header h1 {
    font-size: 4em;
}

.frame-1 {
    width: 100%;
    overflow: hidden;
}

.frame-1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* ALL SECTIONS */
.section {
    color: rgb(100, 100, 100);
    display: flex;
    gap: 5em;
    padding: 0 5em;
}

.section h1 {
    font-size: 2.2em;
    padding-bottom: 1em;
}

.section p {
    font-size: 1.5em;
}

/* SECTION 1 */
.section-1 {
    display: flex;
    gap: 10em;
}

.section-1 h1 {
    padding-bottom: .5em;
}

.section-1 p {
    max-width: 30em;
}

.section-1 .paragraph {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.pic-frame {
    border-radius: 1em;
    height: 25em;
    width: 30em;
}

.pic-frame img {
    border-radius: 2em;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* SECTION 2 */
.section-2 {
    display: flex;
    gap: 10em;
}

.section-2 p {
    max-width: 30em;
}

.section-2 .paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

.section-3 h1 {
    align-self: center;
}

.section-3 p {
    max-width: 40em;
    padding: 0 10em;
}

.section-3 .paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

/* SECTION 4 */
.section-4 {
    display: flex;
    justify-content: space-around;
}

.section-4 p {
    max-width: 40em;
    padding: 0 5em;
}

.section-4 h1 {
    padding-left: 5em;
}


.section-4 .paragraph {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

/* SECTION 5 */
.section-5 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.section-5 h1 {
    font-size: 2.5em;
}

.section-5 h2 {
    font-size: 2em;
}

.nav-section {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 0 10em;
    
}

.link img{
    width: 15em;
    padding-bottom: 2em;
}

.nav-section a {
    color: rgb(100, 100, 100);
    text-decoration: none
}

/* section 6 */
.section-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-6 h1 {
    font-size: 3em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

form input {
    border: 2pt solid rgb(100, 100, 100);
    font-size: 1.5em;
    padding: .4rem;
}

form button {
    border: 2pt solid rgba(82, 179, 79, 1);
    border-radius: 5rem;
    background-color: white;
    color: rgba(82, 179, 79, 1);
    font-size: 1.5em;
    padding: .4rem;
}

.social-media {
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(82, 179, 79, 1) 51%, rgba(60, 255, 0, 1) 100%);
    color: white;
    min-height: 7rem;
    margin: 5rem 0;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
}
.social-media img {
    max-width: 5em;
}

footer p {
    color: rgb(100, 100, 100);
    font-size: 1.5em;
    padding: 2em 5em 5em;
}





